/*.Home{
  background-image: url("./img/Code_NoColor.jpg");
  padding: 100%;
  margin: 100%;
  background-size: cover;
  background-position: center;
}
*/
body{
  margin: 0%;
  background-image: url("./img/Code_NoColor.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
}
#hero-overlay{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -15;
}

#main-header {
    text-align: center;
    background-color: rgb(109, 110, 129);
    color: white;
    padding: 10px;
   
  }

 #main-footer {
    text-align: center;
    font-size: 18PX;
 }